<body>
<video autoplay muted loop id="myVideo">
  <source src="assets/backassets/images/pexels-rostislav-uzunov-7670836.mp4" type="video/mp4">
</video>
<div class="main-wrapper">
  <div class="page-wrapper full-page">
    <div class="page-content d-flex align-items-center justify-content-center">

      <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-6 mx-auto">
          <div class="card">
            <div class="row">
              <div class="col-md-4 pe-md-0">
                <div class="auth-side-wrapper">

                </div>
              </div>
              <div class="col-md-8 ps-md-0">
                <div class="auth-form-wrapper px-4 py-5">
                  <a href="#" class="noble-ui-logo d-block mb-2" style="text-decoration: unset">Sicca<span>PLAN</span></a>
                  <h5 class="text-muted fw-normal mb-4">Create a free account.</h5>
                  <form class="forms-sample" #form="ngForm">
                    <div class="mb-3">
                      <label for="exampleInputUsername1" class="form-label">First Name </label>
                      <input type="text" name="nom" class="form-control" [(ngModel)]="utilisateur.nom" required pattern="[a-zA-Z]{3,20}$" #nom="ngModel" id="exampleInputUsername1" autocomplete="Username" placeholder="Username">
                      <div *ngIf="nom.invalid && nom.touched">
                        <p *ngIf="nom.hasError('required')">this field is required</p>
                        <p *ngIf="nom.hasError('pattern')">respect the pattern</p>
                      </div>

                    </div>
                    <div class="mb-3">
                      <label for="exampleInputUsername1" class="form-label">Last Name</label>
                      <input type="text" name="prenom"class="form-control"  [(ngModel)]="utilisateur.prenom" required pattern="[a-zA-Z]{3,20}$" #prenom="ngModel" autocomplete="Username" placeholder="Username">
                      <div *ngIf="prenom.invalid && prenom.touched">
                        <p *ngIf="prenom.hasError('required')">this field is required</p>
                        <p *ngIf="prenom.hasError('pattern')">respect the pattern</p>
                      </div>

                    </div>
                    <div class="mb-3">
                      <label class="form-label">Email</label>
                      <input type="email" [(ngModel)]="utilisateur.mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="mail" #mail="ngModel" class="form-control"  placeholder="Email">

                      <div *ngIf="mail.invalid && mail.touched">
                        <p *ngIf="mail.hasError('required')">this field is required</p>
                        <p *ngIf="mail.hasError('pattern')">respect the pattern</p>
                      </div>

                    </div>
                    <div class="mb-3">
                      <label class="form-label">Login</label>
                      <input type="text" [(ngModel)]="utilisateur.login" required pattern="[a-zA-Z0-9]{3,15}$" #log="ngModel" name="login" class="form-control"  placeholder="Email">

                      <div *ngIf="log.invalid && log.touched">
                        <p *ngIf="log.hasError('required')">champs obligatoire</p>
                        <p *ngIf="log.hasError('pattern')">format invalid</p>
                      </div>

                    </div>
                    <div class="mb-3">
                      <label for="userPassword" class="form-label">Mot de Passe</label>
                      <input type="password" name="mdp" class="form-control" id="userPassword"  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="utilisateur.mdp" #pass="ngModel" autocomplete="Username" placeholder="Username">
                      <div *ngIf="pass.invalid && pass.touched">
                        <p *ngIf="pass.hasError('required')">champs obligatoire</p>
                        <p *ngIf="pass.hasError('pattern')">format invalid</p>
                      </div>

                    </div>
                    <div class="mb-3">
                      <label  class="form-label">telephone</label>
                      <input type="number" [(ngModel)]="utilisateur.tel" required pattern="\d{8}" #tel="ngModel" name="tel" class="form-control"  placeholder="Email">

                      <div *ngIf="tel.invalid && tel.touched">
                        <p *ngIf="tel.hasError('required')">champs obligatoire</p>
                        <p *ngIf="tel.hasError('pattern')"> champ doit contenir 8 chiffres</p>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label  class="form-label">Adresse</label>
                      <input type="text" [(ngModel)]="utilisateur.adresse"  required pattern="[a-zA-Z0-9]{3,50}$" #ad="ngModel" name="adresse" class="form-control"  autocomplete="current-password" placeholder="Password">

                      <div *ngIf="ad.invalid && ad.touched">
                        <p *ngIf="ad.hasError('required')">champs obligatoire</p>
                        <p *ngIf="ad.hasError('pattern')"> champ doit contenir 8 chiffres</p>
                      </div>
                    </div>
                    <div>
                      <a (click)="saveUser()" class="btn btn-primary text-white me-2 mb-2 mb-md-0 text-decoration-none">Sign up</a>

                    </div>
                    <a routerLink="/auth/login" class="d-block mt-3 text-muted text-decoration-none">Already a user? Sign in</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


</body>
