<body>
<video autoplay muted loop id="myVideo">
  <source src="assets/backassets/images/Golden.mp4" type="video/mp4">
</video>
<div class="main-wrapper">

  <div class="page-wrapper full-page">

    <div class="page-content d-flex align-items-center justify-content-center">


      <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-6 mx-auto">
          <div class="card">
            <div class="row">
              <div class="col-md-4 pe-md-0">
                <div class="auth-side-wrapper">

                </div>
              </div>
              <div class="col-md-8 ps-md-0">
                <div class="auth-form-wrapper px-4 py-5">
                  <a routerLink="/front/Acceuil"  class="noble-ui-logo d-block mb-2" style="text-decoration: unset">Sicca<span>PLAN</span></a>
                  <h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>
                  <form class="forms-sample"[formGroup]="form" (submit)="submit()">
                    <div class="mb-3">
                      <label for="userEmail" class="form-label">Email address</label>
                      <input type="text" style="opacity: 0.99" formControlName="login"   class="form-control" id="userEmail" placeholder="Email">
                    </div>
                    <div class="mb-3">
                      <label for="userPassword" class="form-label">Password</label>
                      <input type="password" formControlName="mdp"   class="form-control" id="userPassword" autocomplete="current-password" placeholder="Password">
                    </div>
                    <div class="form-check mb-3">
                    </div>
                    <div>

                      <button type="submit" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                        <i class="btn-icon-prepend" data-feather="twitter"></i>
                        Login
                      </button>
                    </div>
                    <a routerLink="/auth/forgetpassword" class="d-block mt-3 text-muted text-decoration-none">Forget Your Password ?</a>
                    <a routerLink="/auth/registr" class="d-block mt-3 text-muted text-decoration-none">Not a user? Sign up</a>
                    <a routerLink="/front/Acceuil" class="d-block mt-3 text-muted text-decoration-none">HOME</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
