
	<!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Materiel</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                    
                </div>
            </div>
        </div>
    </div>
<!-- End Hero Section -->




<div class="container">
    <div class="row  mb-5 flex">
  
      <div class="container-fluid ">
  
        <div class="row mb-5">
          <div class="col-lg-5 mx-auto text-center">
            <h2 class="section-title">Liste des Materiels</h2>
          </div>
        </div>
            <input type="text" class="form-control" id="navbarForm" placeholder="Search here..."  >
  
        <div class="d-flex justify-content-around flex-wrap ">
      
          <!-- <div class="card border-warning m-2 col-md-3" >
              <img src="" class="img-fluid rounded-start w-25" alt="..." >
               <div class="col-md-8">
              <div class="card-body">
                 <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"> <span class="d-block position mb-4"> <strong
                  class="product-price"> DNT</strong></span></small></p>
                <a  class="btn btn-primary" > <img src="assets/frontassets/images/cross.svg"
                                                                      class="img-fluid" ></a>
              </div>
            </div> -->


            <div class="d-flex justify-content-around flex-wrap">

                <div class="blog-section">
            
                    <div class="container">
            
                        <div class="row">
            
                            <!--model ahmed-->
                            <div class="card" style="width: 18rem;">
                                <img src="assets/frontassets/images/tente.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp; Tente </h5>
                                    <p class="card-text">Première nuit en camping? Nos concepteurs ont éco-conçu cette tente 2 personnes simple et facile à monter.</p>
                                    <h5>15 DNT</h5>
                                    <button type="button" [disabled]=""
                                       
                                        class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modifierbp">Plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            
            <div class="d-flex justify-content-around flex-wrap">

                <div class="blog-section">
            
                    <div class="container">
            
                        <div class="row">
            
                            <!--model ahmed-->
                            <div class="card" style="width: 18rem;">
                                <br>
                                <img height="50%" src="assets/frontassets/images/sacdecouchage.jpg" class="card-img-top" alt="...">
                                <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp;Sac de couchage</h5>
                                    <p class="card-text">Sac de couchage pour le camping  - ARPENAZ 15°</p>
                            <br>
                             
                                 
                                    <h5>30 DNT</h5>
                                    <button type="button"
                                       
                                        class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modifierbp">Plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="d-flex justify-content-around flex-wrap">

                <div class="blog-section">
            
                    <div class="container">
            
                        <div class="row">
            
                            <!--model ahmed-->
                            <div class="card" style="width: 18rem;">
                                <img src="assets/frontassets/images/saccamp.jpg" class="card-img-top" alt="...">
                                <br>
                                <br>
                              
                               
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp;Sac Camping</h5>
                                    <p class="card-text">Sac à dos de voyage  50L - TRAVEL 100</p>
                                    <h5>20 DNT</h5>
                                    <button type="button"
                                       
                                        class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modifierbp">Plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="d-flex justify-content-around flex-wrap">

                <div class="blog-section">
            
                    <div class="container">
            
                        <div class="row">
            
                            <!--model ahmed-->
                            <div class="card" style="width: 18rem;">
                                <img src="assets/frontassets/images/tentedouche.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp; Tente de Douche</h5>
                                    <p class="card-text">Largeur de la cabine intérieure: 1.20 m  Profondeur de la cabine intérieure: 1.20 m Hauteur de la tente: 2.10 m</p>
                                    <h5>23 DNT</h5>
                                    <button type="button"
                                       
                                        class="btn btn-info disabled" data-bs-toggle="modal" style="color:red ;" data-bs-target="#modifierbp">HorStock</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="d-flex justify-content-around flex-wrap">

                <div class="blog-section">
            
                    <div class="container">
            
                        <div class="row">
                           
                            <!--model ahmed-->
                            <div class="card" style="width: 18rem;">
                                <img src="assets/frontassets/images/glasiere.jpg" class="card-img-top" alt="...">
                               <br>

                                <div class="card-body">
                                    <h5 class="card-title">&nbsp;Glasiere</h5>
                                    <p class="card-text"> Glacière CAMPING 28 Litres <br>  Glacière CAMPING 20 Litres <br>Glacière CAMPING 10 Litres <br></p>
                                    <h5>20 DNT</h5>
                                    <button type="button"
                                       
                                        class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modifierbp">Plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="d-flex justify-content-around flex-wrap">

                <div class="blog-section">
            
                    <div class="container">
            
                        <div class="row">
            
                       
                            <div class="card" style="width: 18rem;">
                                <img src="assets/frontassets/images/chesse.jpg" class="card-img-top" alt="...">
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp;Table de camping pliante - 4 tabourets</h5>
                                    <p class="card-text">Table de camping pliante - 6 tabourets - à 6 personnes</p>
                                    <h5>40 DNT</h5>
                                    <button type="button"
                                       
                                        class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modifierbp">Plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="d-flex justify-content-around flex-wrap">

                <div class="blog-section">
            
                    <div class="container">
            
                        <div class="row">
            
                            <!--model ahmed-->
                            <div class="card" style="width: 18rem;">
                
                                <img src="assets/frontassets/images/Aluminium Camping Cookware Set.jpg" class="card-img-top" alt="...">
                               <br>
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp;Ustensiles de cuisine de camping en aluminium</h5>
                                    <p class="card-text">14 PCS Ustensiles de Cuisine de Camping en Aluminium</p>
                                    <h5>5 DNT</h5>
                                    <button type="button"
                                       
                                        class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modifierbp">Plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            
                                                                                    

          </div>
        </div>
























        
      </div>
    </div>
  
  
  
  
  
  
  
  
  
  