<div class="row" >
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Inputs</h6>
          <form>
  
            <div class="mb-3">
              <label for="exampleInputText1" class="form-label">Nom bonplas</label>
              <input type="text" class="form-control" id="exampleInputText1" value="Amiah Burton" placeholder="Enter Name">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlSelect1" class="form-label">categorie</label>
                <select class="form-select" id="exampleFormControlSelect1">
                  <option selected disabled>Select your age</option>
                  <option>12-18</option>
                  <option>18-22</option>
                  <option>22-30</option>
                  <option>30-60</option>
                  <option>Above 60</option>
                </select>
              </div>
  
            <div class="mb-3">
              <label for="exampleInputEmail3" class="form-label">Adresse</label>
              <input type="text" class="form-control" id="exampleInputEmail3" value="amiahburton@gmail.com" placeholder="Enter Email">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputNumber1" class="form-label">Logitude</label>
              <input type="number" class="form-control" id="exampleInputNumber1" value="6473786">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPassword3" class="form-label">Latitude</label>
              <input type="number" class="form-control" id="exampleInputPassword3" value="amiahburton" placeholder="Enter Password">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputDisabled1" class="form-label">Horaire</label>
              <input type="text" class="form-control" id="exampleInputDisabled1" disabled value="Amiah Burton">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPlaceholder" class="form-label">Frais inscription</label>
              <input type="text" class="form-control" id="exampleInputPlaceholder" placeholder="Enter Your Name">
            </div>
  
           
  
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Discription</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
  
            
  
            <div class="mb-3">
              <label class="form-label" for="formFile">Image upload</label>
              <input class="form-control" type="file" id="formFile">
            </div>
  
            <button class="btn btn-Success" type="submit">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
