<div class="page-content">

  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Tables</a></li>
      <li class="breadcrumb-item active" aria-current="page">Liste des utilisateurs</li>
    </ol>
  </nav>



  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">


          <div class="table-responsive">
            <div class="form-control">
              <input   [(ngModel)]="aaa" id="input" class="form-control me-sm-auto" type="text" placeholder="Search" aria-label="Search">

            </div>
            <br>
            <table class="table table-hover">
              <thead>
              <tr >
                <th >Id</th>
                <th>First Name</th>
                <th>LAST NAME</th>
                <th>Email</th>
                <th>Login</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Etat</th>
                <th style="text-align: center">Action</th>

              </tr>
              </thead>
              <br>
              <tbody *ngFor="let u of list|filter:aaa;let i=index ">
              <tr>

                <td>{{u.id_utilisateur}}</td>
                <td>{{u.nom}}</td>
                <td>{{u.prenom}}</td>
                <td>{{u.mail}}</td>
                <td>{{u.login}}</td>
                <td>{{u.tel}}</td>
                <td>{{u.adresse}}</td>
                <td>{{u.etat}}</td>
                <td style="text-align: center">
                  <button *ngIf="u.etat=='1'" (click)="banner(u.id_utilisateur)" type="button" class="btn btn-danger">Banner<!--<i data-feather="lock"></i>--></button>
                  <button *ngIf="u.etat=='0'"(click)="banner(u.id_utilisateur)" type="button" class="btn btn2 btn-success">Activer<!--<i data-feather="unlock"></i>--></button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
