<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div>
                <h1 style="color: black;">About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- Start Hero Section -->
<!-- 
<div class="hero p-0">
    <div class="container-fluid col-lg-12">
       <div class="row justify-content-between">
            
                <div class="row col-md-12" >
                       
                    <img src="assets/frontassets/images/El_Kef_café.jpg">
                </div>
          
      
        </div>
    </div>
</div> -->
<!-- End Hero Section -->



<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <h2 class="section-title">Pourquoi nous choisir</h2>
                <p>Nous raccourcissons le chemin et le temps pour que vous puissiez profiter de votre temps et profiter des opportunités.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/frontassets/images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Livraison</h3>
                            <p>Nous raccourcissons le chemin et le temps pour que vous puissiez profiter de votre temps et profiter des opportunités.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/frontassets/images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Facile à magasiner</h3>
                            <p>C'est tellement facile de magasiner chez SIccaPlan!
                                <br>
                                2 heures de stationnement gratuit disponible à l'arrière du magasin! 3 étapes faciles pour l'utiliser:
                               <br> 1- Faciliter l'organisation des evenements.<br>
                                2- Faciliter la fourniture de vos besoins en materiel. <br>
                                3-Localiseer les bonplan facilement.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/frontassets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Assistance 24h/24 et 7j/7</h3>
                            <p>Pour qu’un service de Téléassistance soit fiable, il nous apparaît incontournable que les opérateurs de la plateforme d’écoute soient formés spécifiquement à l’assistance aux personnes âgées et aux difficultés qu’elles peuvent rencontrer au quotidien. Non seulement nos équipes sont formées, mais elles sont entièrement et uniquement dédiées à l’assistance aux personnes âgées, de jour comme de nuit.</p>
                    
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/frontassets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Retours sans tracas</h3>
                            <p>Pour toutes les variations d’expédition mentionnées ci-dessus, nous pouvons vous aider à contrôler vos frais d’expédition et à faciliter le processus, le tout en un seul endroit.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="img-wrap d-flex flex-column align-items-center">
                    <!-- <div class="grid grid-1 ">
                
                    <img src="assets/frontassets/images/chef fatma.jpg" alt="Image" class="img-fluid">
                </div> -->

                    <table>
                        <tr>
                            <td>
                                <div class="grid grid-1 ">
                                    <img width="500px" height="700px" src="assets/frontassets/images/El_Kef_café.jpg">
                                </div>


                            </td>
                            <td>
                                <div class="grid grid-2 ">
                                    <img width="200px" height="350px" src="assets/frontassets/images/evenement.jpg">
                                </div>
                                <div class="grid grid-3 ">
                                    <img width="200px" height="350px" src="assets/frontassets/images/camp.jpg">
                                </div>

                            </td>
                        </tr>
                    </table>

                    <!-- El_Kef_café -->
                    <br>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Team Section -->
<div class="untree_co-section">
    <div class="container">



        <div class="row d-flex flex-column align-items-center mb-5">

            <!-- Start Column 1 -->
            <div class="col-12 col-md-6 col-lg-5 mb-5 mb-md-0">
                <div class="col-lg-5 mx-auto ">
                    <h2 class="section-title">Notre équipe :</h2>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                    <br>
                    <br>
                    <img src="assets/frontassets/images/Wissem Samtaoui.jpg" class="img-fluid mb-5">
                    <h3 clas><span class="">Samtouni</span> Wissem</h3>
                    <span class="d-block position mb-4">Developpeur Web</span>
                    <p>
    
                        CQC en développement des logiciels <br>
                        M1 master en NTICDIA <br>
                        Licence appliquée en électricité industrielle </p>
                </div>
    
                <!-- End Column 1 -->
    
                <!-- Start Column 2 -->
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                    <br>
                    <br>
    
                    <img src="assets/frontassets/images/mariem.jpg" class="img-fluid mb-5">
    
                    <h3 clas><span class="">Zoughlemi</span> Mariem</h3>
                    <span class="d-block position mb-4">Developpeuse Web</span>
                    <p> CQC en développement des logiciels <br>
                        Master de recherceh en systeme d'information et Web<br>
                        Licence fondamentale en science informatique</p>
    
                </div>
                <!-- End Column 2 -->
    
                <!-- Start Column 3 -->
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                    <br>
                    <br>
                    <img src="assets/frontassets/images/Ahmed Jbeli (1).jpg" style="width: 315px; height: 334px;">
                    <br>
                    <br>
                    <br>
                    <h3 clas><span class="">Jbeli</span> Ahmed</h3>
                    <span class="d-block position mb-4">Developpeur Web</span>
                    <p>CQC en développement des logiciels <br>
                        Licence appliquée en réseaux
                    </p>
                </div>
            </div>
           
            <!-- End Column 3 -->

            <!-- Start Column 4 -->

        </div>
        <!-- End Column 4 -->



    </div>
</div>


<!-- End Team Section -->



