<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover" >
                    <tr>
                        <td>Nom</td>
                        <td>{{listbp.non_bp}}</td>
                    </tr>
                    <tr>
                        <td>categorie</td>
                        <td>{{listbp.nomcat}}</td>
                    </tr>

                    <tr>
                        <td>Adresse</td>
                        <td>{{listbp.adresse}}</td>
                    </tr>
                    <tr>
                        <td>Latitude</td>
                        <td>{{listbp.latitude}}</td>
                    </tr>
                    <tr>
                        <td>Horaire</td>
                        <td>{{listbp.horaire}}</td>
                    </tr>
                    <tr>
                        <td>Frais</td>
                        <td>{{listbp.frais}}</td>
                    </tr>
                    <tr>
                        <td>Logitude</td>
                        <td>{{listbp.logitude}}</td>
                    </tr>
                    <tr>
                        <td>Image</td>
                    </tr>
              <tr>
                <td>{{listbp.imageSRC}}</td>
              </tr>
                </table>
            </div>
        </div>
    </div>