

    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">{{listbp.Categorie.nomcat}}&emsp;{{listbp.non_bp}}</h2>
                    <p class="card-text">{{listbp.description}}</p>
                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="assets/frontassets/images/argent.png" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Frais Inscription</h3>
                                <p class="card-text">{{listbp.frais}}</p>
                            </div>
                        </div>
    
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="assets/frontassets/images/return.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Horaire du travail</h3>
                                <p class="card-text">{{listbp.horaire}}</p>
                            </div>
                        </div>
    
                    </div>
                </div>
    
                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="http://localhost:5000/{{listbp.imageSRC}}" alt="Image" class="img-fluid">
                    </div>
                </div>
    
            </div>
        </div>
    </div>
     
     
    
   