
<div class="card-body">
    <button type="button" class="btn btn-primary" style="float:right;">Primary</button>

<div class="table-responsive">
    <table class="table table-hover mb-0">
      <thead>
      <tr>
        <th class="pt-0">Nom Bonplan</th>
        <th class="pt-0">Catégorie</th>
        <th class="pt-0">Adresse</th>
        <th class="pt-0">Frait D'inscription</th>
        <th class="pt-0">Temps de Travail</th>
        <th class="pt-0">Details></th>
        <th class="pt-0">Modifier></th>
        <th class="pt-0">Supprimet></th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>NobleUI jQuery</td>
        <td>01/01/2022</td>
        <td>26/04/2022</td>
        <td><span class="badge bg-danger">Released</span></td>
        <td><button class="btn btn-primary">Details</button></td>
        <td><button class="btn btn-Success">Modifier</button></td>
        <td><button class="btn btn-Danger">Supprimer</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>NobleUI Angular</td>
        <td>01/01/2022</td>
        <td>26/04/2022</td>
        <td><span class="badge bg-success">Review</span></td>
        <td><span class="badge bg-danger">Released</span></td>
        <td><button class="btn btn-primary">Details</button></td>
        <td><button class="btn btn-Success" data-toggle="modal" data-target="#modifierBP" data-whatever="@mdo">Modifier</button></td>
        <td><button class="btn btn-Danger">Supprimer</button></td>
      </tr>
     
      </tbody>
    </table>
  </div>


  <div class="modal fade" id="modifierBP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
</div>
