<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Gestion Promo</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ajouter une promotion</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" #form="ngForm" >


<div>
              <label>Date d'expiration</label>
          <br>
          <br>
          <div class="input-group flatpickr" id="flatpickr-date">
            <input [(ngModel)]="Promo.date_expiration" required  #date="ngModel" type="text" name="date_expiration" class="form-control" placeholder="Select date" data-input>
            <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>

            <div *ngIf="date.invalid && date.touched">
              <p *ngIf="date.hasError('required')">champs obligatoire</p>
            </div>
          </div>
          <br>
</div>


          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">Pourcentage de reduction</label>
            <input [(ngModel)]="Promo.pourcentage_reduction" type="number" required pattern="[0-9]{1,15}$" #pr="ngModel" name="pourcentage_reduction" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="0.0 %">
            <div *ngIf="pr.invalid && pr.touched">
              <p *ngIf="pr.hasError('required')">champs obligatoire</p>
              <p *ngIf="pr.hasError('pattern')">porcentage invalid</p>
            </div>

          </div>
          <div class="mb-3">
            <label class="form-label">Champs de promotion</label><br><br>
            <label>Evennement :</label>
            <select class="form-select form-select-sm mb-3" (change)="selectEvent($event)">
              <option selected>-- </option>

              <option  *ngFor="let item of listevent"  [value]="item.id">{{item.titre}}</option>

            </select>
            <label>Materiel :</label>
            <select class="form-select form-select-sm mb-3" (change)="selectMateriel($event)">
              <option selected> -- </option>
              <option  *ngFor="let item of listmateriel"  [value]="item.id_materiel">{{item.categorie}}</option>

            </select>
          </div>
          <br>

          <button (click)="savePromo()" [disabled]="form.invalid" type="submit" class="btn btn-primary me-2">Ajouter</button>
          <button routerLink="/back/dash" class="btn btn-secondary">Cancel</button>
        </form>

      </div>
    </div>
  </div>
</div>



