<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Gestion Promo</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ajouter une promotion</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample">


<div>
              <label>Date d'expiration</label>
          <br>
          <br>
          <div class="input-group flatpickr" id="flatpickr-date">
            <input type="text" class="form-control" placeholder="Select date" data-input>
            <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
          </div>
          <br>
</div>


          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">Pourcentage de reduction</label>
            <input type="" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="0.0 %">
          </div>
          <div class="mb-3">
            <label class="form-label">Champs de promotion</label><br><br>
            <label>Evennement :</label>
            <select class="form-select form-select-sm mb-3">
              <option selected>-- </option>
              <option value="1">Evennement1</option>
              <option value="2">Evennement2</option>

            </select>
            <label>Materiel :</label>
            <select class="form-select form-select-sm mb-3">
              <option selected> -- </option>
              <option value="1">Materiel1</option>
              <option value="2">Materiel2</option>

            </select>
          </div>
          <br>

          <button type="submit" class="btn btn-primary me-2">Ajouter</button>
          <button class="btn btn-secondary">Cancel</button>
        </form>

      </div>
    </div>
  </div>
</div>



