
<body>
<video autoplay muted loop id="myVideo">
  <source src="assets/backassets/images/Golden.mp4" type="video/mp4">
</video>
<div class="main-wrapper">
  <div class="page-wrapper full-page">
    <div class="page-content d-flex align-items-center justify-content-center">

      <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-6 mx-auto">
          <div class="card">
            <div class="row">
              <div class="col-md-4 pe-md-0">
                <div class="auth-side-wrapper">

                </div>
              </div>
              <div class="col-md-8 ps-md-0">
                <div class="auth-form-wrapper px-4 py-5">
                  <a href="#" class="noble-ui-logo d-block mb-2" style="text-decoration: unset">Sicca<span>PLAN</span></a>
                  <form #form="ngForm" class="forms-sample">
                    <div class="mb-3">
                      <label for="userEmail" class="form-label">saisir un nouveau mot de passe</label>
                      <input type="password" required ngModel  [(ngModel)]="mdp" #newPwdUser="ngModel" name="mdp" class="form-control" id="userEmail" placeholder="nv mot de passe">
                      <div *ngIf="newPwdUser.invalid && newPwdUser.touched">
                        <p *ngIf="newPwdUser.hasError('required')">champs obligatoire</p>

                      </div>

                    </div>
<!--                    <div class="mb-3">-->
<!--                      <label for="userEmail" class="form-label">confirmer le mot de passe </label>-->
<!--                      <input type="email" class="form-control" id="userEmail" placeholder="nv mot de passe">-->
<!--                    </div>-->


                    <div>
                      <a  (click)="resetNewPassword()" class="btn btn-primary me-2 mb-2 mb-md-0 text-white text-decoration-none">Confirmer</a>

                    </div>
                    <a routerLink="/auth/login" class="d-block mt-3 text-muted text-decoration-none">Return To Login Page !</a><br>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
