
<br>
<br>
<form  #form="ngForm">
<div class="mb-3">
  <label class="form-label">Email</label>
  <input type="hidden" #inputiduser [value]="id_utilisateur"  name="mail" class="form-control"  placeholder="">
</div>
<div class="mb-3">
  <label  class="form-label">Mot de Passe</label>
  <input type="password" #inputpassword name="mdp" class="form-control"    autocomplete="Username" placeholder="Username">
</div>
<div class="mb-3">
  <label  class="form-label">Mot de Passe</label>
  <input type="password" #inputnewpassword name="mdp" class="form-control"   autocomplete="Username" placeholder="Username">
</div>
<div class="mb-3">
  <label  class="form-label">Mot de Passe</label>
  <input type="password" #inputconfirmpassword name="mdp" class="form-control"    autocomplete="Username" placeholder="Username">
</div>

<button  (click)="resetPassword()" type="button" class="btn btn-primary submit">Submit form</button>
</form>
<br>
