
  

<div class="hero p-0">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <!-- <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
                        <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                        <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                    </div>
                </div> -->
               
                    <video autoplay  [muted]="'muted'" class="p-0" loop id="myVideo">
                        <source src="assets/frontassets/images/kef.mp4" type="video/mp4">
                    </video> 
              
            </div>
        </div>
    </div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <!--<h2 class="mb-4 section-title">Crafted with excellent material.</h2>-->
                <p class="mb-4">Evénements liés à une variété d'activités économiques impliquant la création ou l'utilisation de connaissances et d'informations au KEF. </p>
                <p><a href="shop.html" class="btn">Explore</a></p>
            </div> 
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="assets/frontassets/images/sicca.jpg" class="img-fluid product-thumbnail">
                  

                    <h3 class="product-title">Sicca</h3>
                    <strong class="product-price">25 DNT</strong>

                    <span class="icon-cross">
                        <img src="assets/frontassets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div> 
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="assets/frontassets/images/pass-sicca-jazz.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Sicca</h3>
                    <strong class="product-price">15 DNT</strong>

                    <span class="icon-cross">
                        <img src="assets/frontassets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 3 -->

         <!-- Start Column 3 -->
         <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
                <img src="assets/frontassets/images/images.jpg" class="img-fluid product-thumbnail">
                <h3 class="product-title">Sicca</h3>
                <strong class="product-price">35 DNT</strong>

                <span class="icon-cross">
                    <img src="assets/frontassets/images/cross.svg" class="img-fluid">
                </span>
            </a>
        </div>
        <!-- Start Column 3 -->
       

        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section p-6">
    <div class="container-fluid ">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Pourquoi nous choisir</h2>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/frontassets/images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Livraison</h3>
                            <p>Nous raccourcissons le chemin et le temps pour que vous puissiez profiter de votre temps et profiter des opportunités.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/frontassets/images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Facile à magasiner</h3>
                            <p>C'est tellement facile de magasiner chez SIccaPlan!
                                <br>
                                2 heures de stationnement gratuit disponible à l'arrière du magasin! 3 étapes faciles pour l'utiliser:
                               <br> 1- Faciliter l'organisation des evenements.<br>
                                2- Faciliter la fourniture de vos besoins en materiel. <br>
                                3-Localiseer les bonplan facilement.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/frontassets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Assistance 24h/24 et 7j/7</h3>
                            <p>Pour qu’un service de Téléassistance soit fiable, il nous apparaît incontournable que les opérateurs de la plateforme d’écoute soient formés spécifiquement à l’assistance aux personnes âgées et aux difficultés qu’elles peuvent rencontrer au quotidien. Non seulement nos équipes sont formées, mais elles sont entièrement et uniquement dédiées à l’assistance aux personnes âgées, de jour comme de nuit.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/frontassets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Retours sans tracas</h3>
                            <p>Pour toutes les variations d’expédition mentionnées ci-dessus, nous pouvons vous aider à contrôler vos frais d’expédition et à faciliter le processus, le tout en un seul endroit.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap d-flex flex-column align-items-center">
                    <!-- <div class="grid grid-1 ">
                    
                        <img src="assets/frontassets/images/chef fatma.jpg" alt="Image" class="img-fluid">
                    </div> -->
                  
                        <table>
                            <tr>
                               <td>
                                <div class="grid grid-1 ">
                                <img width="600px" height="700px"    src="assets/frontassets/images/El_Kef_café.jpg"></div>

                       
                        </td>
                            <td>
                                <div class="grid grid-2 ">
                                <img width="250px" height="350px" src="assets/frontassets/images/evenement.jpg"></div>
                                <div class="grid grid-3 ">
                                <img width="250px" height="350px" src="assets/frontassets/images/camp.jpg"></div>

                            </td>
                    </tr>
                    </table>
                  
                <!-- El_Kef_café -->
                <br>
              
             </div>

            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Popular Product -->
<div class="popular-product">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="assets/frontassets/images/camp.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="assets/frontassets/images/camp1.jpg" alt="Image" class="img-fluid">
                    </div>
                   
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="assets/frontassets/images/camp2.jpg" alt="Image" class="img-fluid">
                    </div>
                  
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Popular Product -->


<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <!-- <div class="grid grid-3"><img src="assets/frontassets/images/kef1.jpg" alt="Untree.co"></div> -->
                    <div class="grid grid-2 "><img src="assets/frontassets/images/kef.jpg" alt="Untree.co"></div>
                    <!-- <div class="grid grid-4"><img src="assets/frontassets/images/maisson.jpg" alt="Untree.co"></div> -->
                    <div class="grid grid-1"><img src="assets/frontassets/images/Barrage-Mellègue.jpg" alt="Untree.co"></div>


                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">KEF</h2>
                <p>Se trouvant au Nord-Ouest de la Tunisie, à 175 km à l'Ouest de la capitale et à 40 km à l'Est de la frontière algérienne, la ville du Kef occupe actuellement l'emplacement de l'antique Sicca Veneria.
                    Punique, romaine, numide, byzantine, arabe, ottomane, la ville du Kef a vécu pleinement son histoire et a toujours occupé une place importante dans le tissu des grandes villes tunisiennes. Elle a constamment été présente dans la vie politique, se distinguant, à chaque fois, par une émergence dans les hautes structures du pouvoir. Durant toute l'antiquité, sous l'appellation de Sicca Veneria, elle fut une importante base politique et militaire.
                </p>

               <!--<ul class="list-unstyled custom-list my-4">
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                </ul>--> 
                <p><a herf="#" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->




















































































<!-- Start Testimonial Slider -->
<!-- <div class="testimonial-section before-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Ville</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">
                        
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>MONTAGNES ET MÉDINA
                                                Les puissants reliefs de la chaîne de l’Atlas offrent des panoramas saisissants, par exemple depuis la forteresse ottomane du Kef. On contemplera aussi de superbes vues sur les montagnes du haut de la Table de Jugurtha .Promenez-vous dans la vieille ville du Kef, qui s’étage en cascade face à des paysages vallonnés. Un de ses attraits est l’imbrication demonuments et vestiges de toutes les époques et de toutes les religions. Vous rencontrerez ainsi desciternes et des thermes romains, une église antique dédiée à Saint Pierre, une synagogue juive du 18e siècle qui estégalement vénérée par les musulmans de la ville, et trois cimetières contigus : musulman, juif et chrétien.Mais le monument emblématique du Kef est le mausolée de Sidi Bou Makhlouf, avec ses coupoles blanches côtelées et son minaret octogonal ornée de céramique vert émeraude. &rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="assets/frontassets/images/MEDINA.jpg" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Medina kef</h3>
                                            <span class="position d-block mb-3">Kasba</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 
                  

                       
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>CULTURE ET RANDONNÉE
                                                Partez en randonnée sur les sentiers de montagne, en forêt ou au bord d’un lac. Traversez des villages, regardez le travail des artisans qui tressent l’alfa, et des artisanes qui tissent tapis et couvertures. Découvrez des grottes, desmégalithes, des vestiges de villes romaines ou des sources thermales. Dans la réserve naturelle de Saddine près du Kef, observez des espèces animales remarquablescomme le porc-épic et l’aigle royal. Dans la vieille ville du Kef, visitez le musée des Arts et traditions populaires, qui occupe un magnifique édifice religieux du 18e siècle ; vous saurez tout sur la tradition équestre, les bijoux du Nord-Ouest, ou encore le mode de vie sous la tente bédouine. Visitez aussi la Kasbah (forteresse) ottomane quitenaitla frontière face à l’Algérie : elle est composée de deux forts, l’un où résidaient les janissaires turcs, et l’autre destiné aux troupes auxiliaires.  &rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="assets/frontassets/images/SidiBouMakhlouf.jpg" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold"> Sidi Bou Makhlouf </h3>
                                            <span class="position d-block mb-3"> mausolée Sidi Bou Makhlouf</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>  -->
                        <!-- END item -->

                    <!-- </div>

                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Testimonial Slider -->

<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="section-title">À  Découvrir</h2>
            </div>
            <div class="col-md-6 text-start text-md-end">
                
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="assets/frontassets/images/maisson.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Maison d'Hôtes Dar Boumakhlouf</a></h3>
                       <!--<div class="meta">
                            <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
                        </div>--> 
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="assets/frontassets/images/bourzgen.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Bourzgen</a></h3>
                        <!--<div class="meta">
                            <span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="assets/frontassets/images/chef fatma.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Réstaurant chef Fatma</a></h3>
                       <!--<div class="meta">
                            <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
                        </div>--> 
                    </div>
                </div>
            </div>
           
            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            
            <div class="post-entry">
                <a href="#" class="post-thumbnail"><img src="assets/frontassets/images/Hotel.jpg" alt="Image" class="img-fluid"></a>
                <div class="post-content-entry">
                    <h3><a href="#">Maison d'hôtes Manarat el kasbah</a></h3>
                   <!--<div class="meta">
                        <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
                    </div>--> 
                </div>
                
            </div>
           
           
          
           
           </div>
           <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
           <div class="post-entry">
            <a href="#" class="post-thumbnail"><img src="assets/frontassets/images/Sicca-jazz.jpg" alt="Image" class="img-fluid"></a>
            <div class="post-content-entry">
                <h3><a href="#">SiccaJazz</a></h3>
               <!--<div class="meta">
                    <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
                </div>--> 
            </div>
            </div>
        </div>
       </div>
        </div>
        <!--maxresdefault-->
        
        </div>
    
<!-- End Blog Section -->	
